---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <header></header>

  <main class='max-w-5xl m-auto'>
    <h1>Grabador de pantalla online</h1>
    <section class='mt-10'>
      <form action='submit'>
        <label class='relative p-4 border rounded-2xl'>
          <span>Microfono</span>
          <input class='hidden' type='checkbox' />
        </label>
      </form>
    </section>
  </main>
</Layout>
