---
interface Props {
  type: 'submit' | 'reset' | 'button'
  id?: string
  text: string
}
const { type, id, text } = Astro.props
---

<button
  class='flex peer transition disabled:text-slate-600 enabled:hover:border-orange-600 items-center group gap-x-2 justify-center px-5 py-1 bg-transparent enabled:hover:bg-orange-600/20 border-2 rounded-xl border-gray-600 text-lg font-medium'
  type={type}
  id={id}
>
  <slot />
  <span>{text}</span>
</button>
