---
interface Props {
  type: 'submit' | 'reset' | 'button'
  id?: string
  text: string
  active?: string
}
const { type, id, text, active } = Astro.props
---

<button
  class=`${active} flex peer transition items-center group gap-x-2 justify-center px-5 py-1 bg-transparent hover:bg-orange-600/20 hover:border-orange-600 border-2 rounded-xl border-gray-600 text-lg font-medium`
  id={id}
  type={type}
>
  <slot />
  <span>{text}</span>
</button>
