---
import Github from './icons/Github.astro'
---

<header class='mt-6 px-4 max-w-5xl mx-auto'>
  <nav class='flex justify-between items-center'>
    <span class='font-bold text-2xl text-orange-600'>Screen Capture</span>
    <ul>
      <li>
        <a href='https://github.com/StalinAM/screen-capture' target='_blank'>
          <Github class='size-6' /></a
        >
      </li>
    </ul>
  </nav>
</header>
