---
interface Props {
  id: string
}

const { id } = Astro.props
---

<label
  class='relative group p-4 border-4 rounded-2xl flex flex-col justify-end size-40 cursor-pointer'
  >w
  <slot />
  <input class='hidden' id={id} type='checkbox' />
  <span class='capitalize font-medium text-xl'>{id}</span>
</label>
