---
interface Props {
  id: string
}

const { id } = Astro.props
---

<label
  class='group after:label has-[:checked]:after:check overflow-hidden flex flex-col gap-y-2 justify-end size-40 cursor-pointer relative p-4 border-2 rounded-2xl'
  for={id}
>
  <input class='absolute peer' hidden id={id} type='checkbox' />
  <slot />
  <span class='capitalize font-medium'>{id}</span>
</label>
